:root{
    --cor-botao: #6562df;
    --letra-botao: #ffffff;
    --fundo-input: #ececec;
    
    --texto-padrao: #535353;
    --cor-texto-geral: #000000;

    --azul-calendario: #3fd5e9;
    --verde-calendario: #4eee0d;
    --vermelho-calendario: #ee0d0d;
    --borda-calendario: #e3bdba;
    --calendario-hoje: #007bff;

    --titulo-um: "Libre Baskerville", serif; 
    --texto-geral: "Open Sans", sans-serif;
    --texto-botao-input-label: "Source Sans 3", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted red; */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    width: 400px;
    height: 750px;
    gap: 1rem;
    color: var(--cor-texto-geral);
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    font-family: var(--texto-geral);
}

button{
    background-color: var(--cor-botao);
    color: var(--letra-botao);
    border: 1px solid var(--cor-botao);
    border-radius: 8px;
    font-family: var(--texto-botao-input-label);
    font-weight: bold;
}

input{
    width: 100%;
    padding: 0.8rem;
    text-align: center;
    background-color: var(--fundo-input);
    border: 1px solid var(--fundo-input);
    border-radius: 4px;
    font-size: 0.6rem;
    font-family: var(--texto-botao-input-label);
}
a{
    text-decoration: none;
}
.imagem-perfil{
    width: 100%;
    min-height: 210px;
    border-radius: 1.5rem;
}

.icone{
    width: 1.5rem;
    height: 1.5rem;
}

.main-com-background {
    background-image: url(img/background.jpg);
    background-position: center;
}

.texto-geral {
    font-family: var(--texto-geral);
    font-size: 1.3em;
}

/* Esta estilização são apenas das páginas de login e criar perfil */
.titulo {
    font-family: var(--titulo-um);
    color: var(--texto-padrao);
}
/* Estilização dos calendários */
.calendar {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#month-year {
    font-size: 1.2em;
    margin-left: -35%;
    text-transform: uppercase;
}
.weekdays {
    font-size: 0.65em;
}
.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays div {
    padding: 10px 0;
}

.days div {
    padding: 10px 0;
    margin: 2px;
    border: 1px solid var(--borda-calendario);
    border-radius: 5px;
}

.days div.today {
    background: var(--calendario-hoje);
    color: var(--letra-botao);
}

.days div:hover {
    background: #e0e0e0;
    cursor: pointer;
}

.agenda-perfil{
    background-color: var(--azul-calendario);
}

.agenda-consulta-livre{
    background-color: var(--verde-calendario);
}
.agenda-consulta-cheia{
    background-color: var(--vermelho-calendario);
}

/* Footer das páginas  */
.footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
hr{
    border: 2px solid black;
}
.div-footer {
    display: flex;
    justify-content: space-between;
}
.icone-footer{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
}