* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
    color: var(--texto-padrao);
}
button{
    background-color: var(--cor-botao);
    color: var(--letra-botao);
}
