:root{
    --cor-botao: #6562df;
    --letra-botao: #ffffff;
    --fundo-input: #ececec;
    --texto-padrao: #535353;
    --azul-calendario: #3fd5e9;
    --verde-calendario: #4eee0d;
    --vermelho-calendario: #ee0d0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted red; */
}

body{

    display: flex;
    justify-content: center;
    align-items: center;

}

main{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    gap: 1rem;
    color: var(--texto-padrao);
    margin: 2rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
}

button{
    background-color: var(--cor-botao);
    color: var(--letra-botao);
    border: 1px solid var(--cor-botao);
    border-radius: 4px;
}

input{
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--fundo-input);
    border: 1px solid var(--fundo-input);
    border-radius: 4px;
    font-size: 0.5rem;
}

.icone{
    width: 1.5rem;
    height: 1.5rem;
}


